<div class="spinner" *ngIf="loader">
  <div class="innerDiv">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div [@routerTransition]>
  <app-page-header *ngIf="!hideSnackBar" [heading]="'Events'" [icon]="'fa-book'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="filters">
        <input type="text" class="search-box" placeholder="Type to filter events..." (keyup)="updateFilter($event)" />

        <div class="refreshIcon btn" (click)="getList()" placement="top" ngbTooltip="Refresh">Refresh</div>
        <a *ngIf="showAll" routerLink="/events" class="user btn">All Events</a>
        <div class="addIcon">
          <a class="btn" (click)="onAction(-1, eventModal, 'Add Event')">
            Add Event <i class="fa fa-plus-circle ml-1" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <div class="customTable">
        <ngx-datatable
          [rows]="events"
          [columns]="columns"
          [columnMode]="'force'"
          #table
          class="material expandable"
          [loadingIndicator]="loadingIndicator"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="limitData"
          [externalPaging]="true"
          [externalSorting]="true"
          [count]="totalEvents"
          [offset]="pageNumber"
          (sort)="onSort($event)"
          (page)="setPage($event)"
          [selected]="selectedRows"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="true"
          [displayCheck]="shouldCheck"
          [selectCheck]="shouldCheck"
          (select)="onSelect($event)"
        >
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
              <div class="row details">
                <div class="col col-xl-4 col-md-4 col-lg-4">
                  <div>
                    <div><strong>Event Name</strong></div>
                    <div>{{ selectedRow.eventName }}</div>
                  </div>
                </div>
                <div class="col col-xl-4 col-md-4 col-lg-4, padding-top-25">
                  <div>
                    <div><strong>Start Date</strong></div>
                    <div>{{ selectedRow.startDate | date: 'dd/MM/yyyy' }}</div>
                  </div>
                </div>
                <div class="col col-xl-4 col-md-4 col-lg-4, padding-top-25">
                  <div>
                    <div><strong>End Date</strong></div>
                    <div>{{ selectedRow.endDate | date: 'dd/MM/yyyy' }}</div>
                  </div>
                </div>

                <div class="col col-xl-4 col-md-4 col-lg-4">
                  <div>
                    <div><strong>Prize</strong></div>
                    <div>{{ selectedRow.prize }}</div>
                  </div>
                </div>
                <div class="col col-xl-8 col-md-8 col-lg-8">
                  <div>
                    <div><strong>Description</strong></div>
                    <div>{{ selectedRow.description }}</div>
                  </div>
                </div>

                <div class="col col-xl-4 col-md-4 col-lg-4">
                  <div>
                    <div><strong>Event Banner</strong></div>
                    <div>
                      <img
                        width="150"
                        height="150"
                        class="cursor-pointer"
                        src="{{ selectedRow.eventBanner }}"
                        (click)="openImageModal(imageModal, selectedRow.eventBanner)"
                      />
                    </div>
                  </div>
                </div>
                <div class="col col-xl-8 col-md-8 col-lg-8">
                  <div>
                    <div><strong>Rules</strong></div>
                    <ul>
                      <li *ngFor="let rule of selectedRow.rules">{{ rule }}</li>
                    </ul>
                  </div>
                </div>

                <div class="col col-xl-8 col-md-8 col-lg-8">
                  <div>
                    <div><strong>LeaderBoard</strong></div>
                    <ul class="leader-section">
                      <li class="leader-item" *ngFor="let leader of selectedRow.leaderBoard">
                        <div class="image-element">
                          <img
                            class="profile-avatar"
                            [src]="leader.leaderProfile ? leader.leaderProfile : 'assets/images/avatar.png'"
                            (error)="this.src = 'assets/images/avatar.png'"
                            (click)="openImageModal(imageModal, leader.leaderProfile)"
                          />
                        </div>
                        <div>
                          <strong>Name: </strong><span>{{ leader.leaderName }}</span>
                        </div>
                        <div>
                          <strong>Likes: </strong><span>{{ leader.leaderLikes }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->
          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
          >
          </ngx-datatable-column>
          <ngx-datatable-column name="" width="10" [canAutoResize]="false"> </ngx-datatable-column>
          <ngx-datatable-column name="Index" width="10" [canAutoResize]="false">
            <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
              <a
                style="color: grey"
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(row)"
              >
                <i class="fa fa-{{ expanded ? 'minus' : 'plus' }}-square mr-3" aria-hidden="true"></i>
              </a>
              <strong>{{ skipData + rowIndex + 1 }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Event Name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <strong>{{ row.eventName }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Start Date">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{ value | date: 'dd/MM/yyyy' }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="End Date">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{ value | date: 'dd/MM/yyyy' }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Prize">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong>{{ value }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Description">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <strong placement="bottom" [ngbTooltip]="value">{{
                value.length > 20 ? value.substr(0, 20) + '...' : value
              }}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="155" [canAutoResize]="false">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
              <div *ngIf="moment(row.startDate).isAfter(moment())">
                <a class="actionButton" placement="bottom" ngbTooltip="Edit">
                  <i class="fa fa-fw fa-edit" (click)="onAction(rowIndex, eventModal, 'edit')"></i>
                </a>
                <a class="actionButton" placement="bottom" ngbTooltip="Delete">
                  <i class="fa fa-fw fa-trash" (click)="onAction(rowIndex, deleteModal, 'delete')"></i>
                </a>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset"
            >
              <div class="footer" style="padding: 5px 10px; width: 100%">
                <div>{{ selectedRows?.length }} selected / {{ totalEvents }} total</div>
                <div>
                  <a
                    *ngFor="let data of arrayFromLength(totalEvents); let idx = index"
                    (click)="setPage({ offset: idx })"
                  >
                    {{ idx }}
                  </a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<ng-template #eventModal let-c="close" let-d="dismiss">
  <div class="spinner" *ngIf="modalLoader">
    <div class="innerDiv">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div class="modal-header showError">
    <h5 class="modal-title">
      {{ selected?.action }} <strong *ngIf="selected?.action == 'edit'">{{ selected?.title }}</strong>
    </h5>
    <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form role="form" autocomplete="off" [formGroup]="eventForm">
      <aw-wizard>
        <aw-wizard-step stepTitle="Title of step 1" [canExit]="validDataForSave(eventForm.value) === 'true'">
          <div class="row">
            <div class="col col-xl-12 col-md-12 col-lg-12">
              <fieldset class="form-group">
                <label>Event Name</label>
                <input
                  class="form-control"
                  autocomplete="off"
                  name="eventName"
                  formControlName="eventName"
                  placeholder="Enter event name"
                />
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-6 col-md-6 col-lg-6">
              <fieldset class="form-group">
                <label>Start Date</label>
                <div class="input-group datepicker-input">
                  <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="dd-mm-yyyy"
                    name="startDate"
                    formControlName="startDate"
                    [minDate]="maxDate"
                    ngbDatepicker
                    #startDate="ngbDatepicker"
                    (dateSelect)="f.endDate.setValue(''); minDate = calendar.getNext(f.startDate.value, 'd', 1)"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()"></button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col col-xl-6 col-md-6 col-lg-6">
              <fieldset class="form-group">
                <label>End Date</label>
                <div class="input-group datepicker-input">
                  <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="dd-mm-yyyy"
                    name="endDate"
                    formControlName="endDate"
                    [minDate]="minDate"
                    ngbDatepicker
                    #endDate="ngbDatepicker"
                    (click)="f.startDate.value && endDate.open()"
                    (blur)="endDate.close()"
                    (dateSelect)="endDate.close()"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary calendar"
                      (click)="f.startDate.value && endDate.open()"
                    ></button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-6 col-md-6 col-lg-6">
              <fieldset class="form-group">
                <label>Cover Photo</label>
                <div class="file-upload">
                  <div class="image-upload-wrap" *ngIf="!selected?.pictures?.eventBanner">
                    <input
                      class="file-upload-input"
                      type="file"
                      (change)="handleInputChange($event)"
                      accept="image/*"
                    />
                    <div class="drag-text">
                      <span>Drag and drop a file or select add Image</span>
                    </div>
                  </div>
                  <div class="file-upload-content" *ngIf="selected?.pictures?.eventBanner">
                    <div class="image-title-wrap">
                      <button type="button" (click)="selected?.pictures.eventBanner = ''" class="remove-image">
                        Remove Image
                      </button>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col col-xl-6 col-md-6 col-lg-6" *ngIf="selected?.pictures?.eventBanner">
              <fieldset class="form-group">
                <div class="file-upload">
                  <div class="file-upload-content">
                    <img
                      class="file-upload-image"
                      [src]="selected?.pictures.eventBanner ? selected?.pictures.eventBanner : f.eventBanner.value"
                      alt="your image"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col col-xl-12 col-md-12 col-lg-12">
              <fieldset class="form-group">
                <label>Description</label>
                <textarea
                  class="form-control"
                  autocomplete="off"
                  name="description"
                  formControlName="description"
                  placeholder="Enter event description"
                ></textarea>
              </fieldset>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="c()">Cancel</button>
            <button type="button" class="btn btn-primary" awNextStep>Next Step</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Title of step 2">
          <div class="prizeType">
            <label>Prize</label>
            <div class="prizeRadio">
              <!-- <div class="radioInput">
                <input
                  name="options"
                  formControlName="options"
                  type="radio"
                  value="single"
                  [checked]="f.options.value == 'single'"
                  (change)="changePrize($event)"
                />
                Single
              </div>
              <div class="radioInput">
                <input
                  name="options"
                  formControlName="options"
                  type="radio"
                  value="multiple"
                  [checked]="f.options.value == 'multiple'"
                  (change)="changePrize($event)"
                />
                Multiple
              </div> -->
              <div class="radioInput">
                <input
                  name="options"
                  formControlName="options"
                  type="radio"
                  value="description"
                  [checked]="f.options.value == 'description'"
                  (change)="changePrize($event)"
                />
                Description
              </div>
            </div>
          </div>

          <div *ngIf="f.options.value == 'single'">
            <table class="table prizeListTable">
              <tr>
                <th class="index">Winer</th>
                <th class="selectCoupon">Select Coupon</th>
                <th class="couponDisc">Coupon Description</th>
                <th class="action">
                  <button type="button" class="btn btn-primary">Add Row</button>
                </th>
              </tr>
              <tr>
                <td class="index">
                  <span>1st</span>
                </td>
                <td class="selectCoupon">
                  <select class="form-control" name="coupon" formControlName="coupon">
                    <option value="">Select Coupon</option>
                    <option *ngFor="let coupon of couponList">{{ coupon.code }}</option>
                  </select>
                </td>
                <td class="couponDisc">
                  <textarea
                    class="form-control"
                    rows="1"
                    placeholder="Type Description"
                    formControlName="couponDisc"
                  ></textarea>
                </td>
                <td class="action">
                  <button (click)="removeQuantity(i)" class="icon-btn btn-delete">
                    <img src="./assets/images/delete.svg" alt="icon" />
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div *ngIf="f.options.value == 'multiple'">
            <table class="table prizeListTable">
              <tr>
                <th class="multindex">Winer</th>
                <th class="selectCoupon">Select Coupon</th>
                <th class="couponDisc">Coupon Description</th>
                <th class="action">
                  <button type="button" class="btn btn-primary">Add Row</button>
                </th>
              </tr>
              <tr>
                <td class="multindex">
                  <div class="multindex-data">
                    <select class="form-control" name="multiWinMin">
                      <option *ngFor="let item of multiMinArrey(10); let i = index">{{ i + 1 }}</option>
                    </select>
                    <span>To</span>
                    <select class="form-control" name="multiWinMax">
                      <option *ngFor="let item of multiMaxArrey(20); let i = index">{{ i + 1 }}</option>
                    </select>
                  </div>
                </td>
                <td class="selectCoupon">
                  <select class="form-control" name="coupon" formControlName="coupon">
                    <option value="">Select Coupon</option>
                    <option *ngFor="let coupon of couponList">{{ coupon.code }}</option>
                  </select>
                </td>
                <td class="couponDisc">
                  <textarea
                    class="form-control"
                    rows="1"
                    placeholder="Type Description"
                    formControlName="couponDisc"
                  ></textarea>
                </td>
                <td class="action">
                  <button (click)="removeQuantity(i)" class="icon-btn btn-delete">
                    <img src="./assets/images/delete.svg" alt="icon" />
                  </button>
                </td>
              </tr>
            </table>
          </div>
          <div *ngIf="f.options.value == 'description'">
            <table class="table prizeListTable">
              <tr>
                <th class="index">Winer</th>
                <th class="couponDisc">Prize Description</th>
              </tr>
              <tr>
                <td class="index">
                  <span>All</span>
                </td>
                <td class="couponDisc">
                  <textarea class="form-control" rows="1" placeholder="Enter prize" formControlName="prize"></textarea>
                </td>
              </tr>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" awPreviousStep>Previous</button>
            <button type="button" class="btn btn-secondary" awNextStep>Next Step</button>
          </div>
        </aw-wizard-step>

        <aw-wizard-step stepTitle="Title of step 3">
          <div class="prizeType">
            <label>Rules</label>
            <div class="prizeCheckbox">
              <div class="checkboxInput cursor-pointer" *ngFor="let rule of rules" (click)="updateRules(rule.title)">
                <input
                  type="checkbox"
                  [value]="rule.title"
                  [checked]="f.rules.value && f.rules.value.includes(rule.title)"
                />
                {{ rule.title }}
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>
            <button type="submit" class="btn btn-secondary" (click)="formSubmit(c)">Submit</button>
          </div>
        </aw-wizard-step>
      </aw-wizard>
    </form>
  </div>
</ng-template>

<ng-template #deleteModal let-c="close" let-d="dismiss" backdrop="false">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      Do you really want to delete <strong>{{ selected?.title }}</strong
      >?
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="successMessage">
    <ngb-alert type="danger" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onDelete(c)">Yes</button>
  </div>
</ng-template>

<ng-template #imageModal let-c="close" let-d="dismiss">
  <div class="modal-body image-modal">
    <button type="button" class="close" aria-label="Close" (click)="selectedImage = ''; d()">
      <span aria-hidden="true">&times;</span>
    </button>
    <img
      style="width: 100%"
      [src]="selectedImage ? selectedImage : 'assets/images/nofile.png'"
      onerror="this.src='assets/images/nofile.png'"
    />
  </div>
</ng-template>
