.grid-option-buttons {
  button {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 10px;
  }
}
select {
  option.increase {
    color: #fff;
    background-color: #008000;
  }
  option.decrease {
    color: #fff;
    background-color: #ff0000;
  }
}
